* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #2b2c3b;
  padding: 1rem;
}

.kaartje {
  width: 450px;
  height: 320px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s ease-in-out;
}

.kaartje:hover {
  transform: rotatex(180deg);
}

.hover {
  transform: rotatex(180deg);
}

.voorkant, .achterkant {
  width: 100%;
  height: 100%;
  padding: 1rem;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #6b6d91;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position: absolute;
}

.achterkant {
  transform: rotatex(180deg);
}

.text-content {
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

img {
  width: 120px;
  height: 120px;
  border: 5px solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

p {
  margin-top: 0.5rem;
  text-align: center;
}

ol {
  list-style: none;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  background: #2b2c3b;
  width: 100%;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: 100rem;
  margin: .3rem;
}

button {
  color: white;
  position: absolute;
  top: 37rem;
  border: none;
  background: #6b6d91;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-radius: .3rem;
  cursor: pointer;
}